ex03/doc/productService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions
  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
  xmlns:wsp="http://www.w3.org/ns/ws-policy"
  xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://ex03_soap.group7.sws.uibk.ac.at/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  targetNamespace="http://ex03_soap.group7.sws.uibk.ac.at/"
  name="ProductServiceService">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ex03_soap.group7.sws.uibk.ac.at/" schemaLocation="http://localhost:4434/productService?xsd=1"></xsd:import>
    </xsd:schema>
  </types>
  <message name="getProduct">
    <part name="parameters" element="tns:getProduct"></part>
  </message>
  <message name="getProductResponse">
    <part name="parameters" element="tns:getProductResponse"></part>
  </message>
  <message name="ProductNotFoundException">
    <part name="fault" element="tns:ProductNotFoundBean"></part>
  </message>
  <message name="getProductList">
    <part name="parameters" element="tns:getProductList"></part>
  </message>
  <message name="getProductListResponse">
    <part name="parameters" element="tns:getProductListResponse"></part>
  </message>
  <message name="order">
    <part name="parameters" element="tns:order"></part>
  </message>
  <message name="orderResponse">
    <part name="parameters" element="tns:orderResponse"></part>
  </message>
  <portType name="IProductService">
    <operation name="getProduct">
      <input wsam:Action="http://ex03_soap.group7.sws.uibk.ac.at/IProductService/getProductRequest" message="tns:getProduct"></input>
      <output wsam:Action="http://ex03_soap.group7.sws.uibk.ac.at/IProductService/getProductResponse" message="tns:getProductResponse"></output>
      <fault message="tns:ProductNotFoundException" name="ProductNotFoundException" wsam:Action="http://ex03_soap.group7.sws.uibk.ac.at/IProductService/getProduct/Fault/ProductNotFoundException"></fault>
    </operation>
    <operation name="getProductList">
      <input wsam:Action="http://ex03_soap.group7.sws.uibk.ac.at/IProductService/getProductListRequest" message="tns:getProductList"></input>
      <output wsam:Action="http://ex03_soap.group7.sws.uibk.ac.at/IProductService/getProductListResponse" message="tns:getProductListResponse"></output>
    </operation>
    <operation name="order">
      <input wsam:Action="http://ex03_soap.group7.sws.uibk.ac.at/IProductService/orderRequest" message="tns:order"></input>
      <output wsam:Action="http://ex03_soap.group7.sws.uibk.ac.at/IProductService/orderResponse" message="tns:orderResponse"></output>
    </operation>
  </portType>
  <binding name="ProductServicePortBinding" type="tns:IProductService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
    <operation name="getProduct">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="ProductNotFoundException">
        <soap:fault name="ProductNotFoundException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="getProductList">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="order">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
  </binding>
  <service name="ProductServiceService">
    <port name="ProductServicePort" binding="tns:ProductServicePortBinding">
      <soap:address location="http://localhost:4434/productService"></soap:address>
    </port>
  </service>
</definitions>
